header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #CED1BF;
  padding: 20px;
}

header img {
      width: 175px;
      height: 175px;
      position: absolute;
      right: 60.5px;
      top: 40.5px;
}

h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 35px;
  background-color: #CED1BF;
}

.me {
  margin: 30px;
}

.header {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #99004D;
}

a {
  margin-left: 2px;
}

p {
  padding-top: 10px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 25px;
  text-align: justify;
  margin: 5px;
}

h5 {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

h4 {
  font-family: 'Playfair Display', serif;
  margin-left: 3px;
}

body {
  width: 640px;
  margin: 0 auto;
  background-color: #F8F2F0;
}

.full-img {
  position: relative;
  display: block;
}

.maincontent {
  padding-top: 250px;
}

.gallery {
  padding-bottom: 275px;
}

.thumb-bar img {
  display: block;
  cursor: pointer;
  float: left;
  width:  120px;
  height: 130px;
  background-size: cover;
  margin: 2px;
  padding-bottom: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #CED1BF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  padding: 20px;
}
